<div class="dashboard">
  <p-card *ngFor="let kpi of kpis" class="kpi-card h-full">
    <div class="kpi-icon">
      <i [class]="kpi.icon" class="icon"></i>
      <div class="kpi-content">
        <p class="kpi-label">{{ kpi.label | translate}}</p>
        <span #counter class="kpi-value text-center"></span>
      </div>
    </div>
  </p-card>
</div>
<div class="grid grid-cols-2 gap-8 mt-2 mx-4">

    <div class="card !mb-8">
      <div class="font-semibold text-lg mb-4">{{ "DASHBOARD.LATEST_EMPLOYEES" | translate }}</div>
      <p-table
        [value]="employees"
        [rows]="5"
        responsiveLayout="scroll"
      >
        <ng-template #header>
          <tr>
            <th>Avatar</th>
            <th pSortableColumn="name">
              {{ "DASHBOARD.CLIENT_NAME" | translate }}
            </th>
            <th pSortableColumn="price">
              {{ "DASHBOARD.EMAIL" | translate }} 
            </th>
           
          </tr>
        </ng-template>
        <ng-template #body let-employee>
          <tr>
            <td style="width: 15%; min-width: 5rem">
              <div
                class="avatar flex items-center justify-center shadow-lg rounded-full bg-green-500 text-white font-bold text-lg"
                style="width: 50px; height: 50px"
              >
                {{ employee.username.charAt(0).toUpperCase() }}
              </div>
            </td>
            <td style="width: 35%; min-width: 7rem">{{ employee.username }}</td>
            <td style="width: 35%; min-width: 8rem">
              {{ employee.email }}
            </td>
          
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card !mb-8">
      <div class="font-semibold text-xl mb-4">{{ "DASHBOARD.LATEST_EMPLOYEES_COMPANIES" | translate }}</div>
      <p-table
        [value]="allCompanies()"
        [rows]="5"
        responsiveLayout="scroll"
      >
        <ng-template #header>
          <tr>
            <th>UID</th>
            <th pSortableColumn="name">
              {{ "DASHBOARD.COMPANY_NAME" | translate }}
            </th>
            <th pSortableColumn="price">
              {{ "DASHBOARD.CREATED_BY" | translate }} 
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-company>
          <tr>
            <td style="width: 15%; min-width: 5rem">
             {{company.uid}}
            </td>
            <td style="width: 35%; min-width: 7rem">{{ company.name }}</td>
            <td style="width: 35%; min-width: 8rem">
              {{ company.employee }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

</div>
