/* company-details-modal.component.css */
:host ::ng-deep .company-modal {
    max-height: 90vh;
    overflow: auto;
  }
  
  :host ::ng-deep .company-modal .p-dialog-header {
    /* display: none; */
    height: 60px;
  }
  
  /* :host ::ng-deep .company-modal .p-dialog-content {
    padding: 1.5rem; 
  } */
  
  /* :host ::ng-deep .company-modal .company-accordion .p-accordion-header-link {
    background-color: #f9fafb; 
  }
  
  :host ::ng-deep .company-modal .company-accordion .p-accordion-header-link:hover {
    background-color: #f3f4f6; 
  } */
  
  /* :host ::ng-deep .company-modal .company-accordion .p-accordion-content {
    background-color: white;
    padding: 1rem; 
  } */
  
  @media (max-width: 640px) {
    :host ::ng-deep .company-modal .p-dialog-content {
      padding: 1rem; /* Equivalent to p-4 */
    }
  }
  @media (max-width: 599px) {
    :host ::ng-deep .p-dialog {
      margin: 0;
      height: 100vh;
      max-height: 100vh !important;
      width: 100vw !important;
    }
  
    :host ::ng-deep .p-dialog .p-dialog-content {
      height: calc(100vh - 6rem);
      overflow-y: auto;
    }
  }