@media (max-width: 599px) {
  :host ::ng-deep .p-dialog {
    margin: 0;
    height: 100vh;
    max-height: 100vh !important;
    width: 100vw !important;
  }

  :host ::ng-deep .p-dialog .p-dialog-content {
    height: calc(100vh - 6rem);
    overflow-y: auto;
  }
}

.border-spacing-y-2 {
  border-spacing: 0 0.75rem;
}

/* tbody tr {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  tbody tr > td > div {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  } */

.active-filter {
  background-color: var(--primary-color);
  color: white;
}

/* If you want to style the button when a filter is active */
:host ::ng-deep .active-filter .p-button {
  background-color: var(--secondary-50) !important;
  border-color: var(--secondary-500) !important;
}

:host ::ng-deep .p-menu .selected-filter {
  font-weight: 600;
}

:host ::ng-deep .p-menu .clear-filter {
  border-top: 1px solid var(--surface-200);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

:host ::ng-deep .p-menu .p-menuitem-link {
  transition: all 0.2s;
}

.no-employee-message {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #666;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px 0;
}
