@media (max-width: 599px) {
    :host ::ng-deep .p-dialog {
      margin: 0;
      height: 100vh;
      max-height: 100vh !important;
      width: 100vw !important;
    }
  
    :host ::ng-deep .p-dialog .p-dialog-content {
      height: calc(100vh - 6rem);
      overflow-y: auto;
    }
  }