@media (max-width: 640px) {
  :host ::ng-deep .company-modal .p-dialog-content {
    padding: 1rem; /* Equivalent to p-4 */
  }
}
@media (max-width: 599px) {
  :host ::ng-deep .p-dialog {
    margin: 0;
    height: 100vh;
    max-height: 100vh !important;
    width: 100vw !important;
  }

  :host ::ng-deep .p-dialog .p-dialog-content {
    height: calc(100vh - 6rem);
    overflow-y: auto;
  }
}

/* your-component.component.css */
:host ::ng-deep .p-multiselect {
  border: none !important;
}

:host ::ng-deep .p-multiselect .p-multiselect-label {
  border: none !important;
}

:host ::ng-deep .p-multiselect .p-multiselect-trigger {
  border: none !important;
}

/* styles.css or styles.scss */
.p-multiselect {
  border: none !important;
  border-bottom: 2px solid #D1D5DB !important;
  background-color: transparent !important;
}

.p-multiselect .p-multiselect-label {
  border: none !important;
  background-color: transparent !important;
}

.p-multiselect .p-multiselect-trigger {
  border: none !important;
  background-color: transparent !important;
}

.border-red-500 {
  border-bottom: 1px solid red !important;
}