/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
/* @import 'flag-icons/css/flag-icons.min.css'; */
@import 'assets/flags.css';
/* @import '../node_modules/@fontsource/jost';
@import '@fontsource/jost'; */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
@tailwind base;
}

@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;
}

@layer components {
    .sidebar-backdrop {
      @apply fixed inset-0 bg-gray-800 bg-opacity-50 transition-opacity lg:hidden;
    }
  }
  @layer components {
    .sidebar-active {
      @apply bg-gray-100 text-green-700 border-l-4 border-green-700;
    }
  }

  @layer utilities {
    .header-shadow {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }
  }


  /* body {
    font-family: 'Jost', sans-serif;
  } */

  


body .p-panelmenu .p-panelmenu-header,
body .p-panelmenu .p-panelmenu-content {
  border: none !important;
}